.carousel-module
  height 300px
  .slider
    >.slider-frame
      max-height 50vh !important
      margin-bottom 30px !important
      img
        max-height: 50vh !important
        max-width: 100% !important
        width auto !important
        height 50vh !important
        margin 0 auto
        position relative
    .slider-control-bottomcenter
      bottom -40px !important
      button 
        padding 0 3px !important
    .carousel-controller
      text-shadow 2px 2px 4px #000000
      color #FFF
      font-size 2.5em
      cursor pointer