.estimate-product-card
  max-width 250px
  display inline-block
  vertical-align middle
  .description
    height 37px
    overflow hidden
    text-align justify
  .action-group
    >.add-container
      >.dinamic
        color $black
        width 150px
        display inline-block
        margin-top 10px
        text-align center
        
        .add
        .remove
          cursor pointer
        .add
        .remove
        label 
        span
          vertical-align middle
          margin 0 5px
        vertical-align middle

        span
          font-size 1.2em
        label 
          font-size 1em
          font-weight 700
          display block 
          margin-bottom 3px

      >.delete-button
        transform rotate(45deg)
        color $red
        vertical-align bottom
        margin-bottom 2px
        font-size 2em
        cursor pointer

      

  